<h4>Search</h4>
<div ng-controller="UrlController" layout="row">
    <form>
        <!--<md-text-float label="specify URL" ng-model="data.url"-->
                       <!--ng-disabled="false"></md-text-float>-->
        <md-input-group>
            <label for="url">specify URL</label>
            <span ng-show="success" class="success">URL exists</span>
            <span ng-show="error" class="error">URL does not exist!</span>
            <span ng-show="notvalid" class="error">Not a valid URL!</span>
            <md-input id="url"
                      ng-model="data.url" ng-change="onChange()" ng-disabled="pending || success"
                    ng-class="{'success': success}">
            </md-input>
        </md-input-group>
        <span ng-show="pending">Checking ...</span>
        <span ng-show="retrieve">Retrieving tree data ...</span>
    </form>
</div>